/* AdminPage.module.css */

.container {
  padding: 7rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cardImage {
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.cardText {
  font-size: 1rem;
  color: #555;
}

.cardButtons {
  display: flex;
  justify-content: space-evenly; /* Space buttons evenly with reduced spacing */
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  gap: 0.5rem; 
}

.button {
  width: 40%; 
  font-size: 0.9rem; 
  text-align: center;
  white-space: nowrap; 
  padding: 0.5rem; 
  min-width: 70px; 
}
