/* Container styling */
.py-4 {
    padding: 1rem 0;
}

/* Filters Section */
.filtersSection {
    padding: 20px;
    border-radius: 5px;
    gap: 40px; /* Consistent spacing between elements */
    background-color: #e3eee6;
}

.filtersTitle {
    color: #1b4a3d;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.rangeSlider {
    width: 100%;
    appearance: none;
    height: 9px;
    background-color: #225f49;
    border-radius: 5px;
    outline: none;
    margin-bottom: 45px;
}

.inputField {
    font-size: 18px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    padding: 6px;
    box-sizing: border-box; /* Ensure consistent sizing */
    border: 3px solid #225f49;
}
  
.selectField {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #225f49;
    border-radius: 5px;
    background-color: #ffffff6a;
    text-align: center;
    margin-bottom: 8px;
}

.inputGroup {
    margin-bottom: 20px; /* Adds space between input fields */
}

/* Textbook List Section */
.textbookList {
    margin-top: 20px;
}

.textbookCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background-color: #fff;
}

.textbookList .row {
    gap: 20px; /* Adds space between cards */
}

  