/* color scheme */
:root {
  --main-color: #225f49;
  --main-color-rgb: 34, 95, 73;
  --main-color-darker: #1a4a3a;
  --main-color-darker-rgb: 26, 74, 58;
  --secondary-color: #d3d3d3;
  --secondary-color-rgb: 211, 211, 211;
  --secondary-color-darker: #b3b3b3;
  --secondary-color-darker-rgb: 179, 179, 179;
}
/* color scheme */

/* site body */
html,
body {
  --bs-dark: var(--main-color);
  --bs-dark-rgb: var(--main-color-rgb);
  color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* site body */

/* navbar */
body .navbar {
  --bs-navbar-active-color: var(--secondary-color);
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: var(--secondary-color);
  --bs-navbar-color: white;
  --bs-navbar-hover-color: var(--secondary-color);
}

.navbar .navbar-collapse {
  background-color: var(--main-color);
}
/* navbar */

/* landing page */
#landing-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing-content h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: var(--main-color);
}

.landing-content h2 {
  font-family: sans-serif;
  font-size: 2rem;
  color: black;
  white-space: nowrap;
}
/* landing page */

/* search bar */
.nav-search-bar {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

.search-wrapper {
  background-color: white;
  border-radius: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.search-button {
  background-color: transparent;
  border-radius: 50px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding-bottom: 5px;
}

.search-button:hover {
  background-color: var(--secondary-color);
  transition: 0.5s;
}
/* search bar */

/* Book Card */
.book-card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.book-card-img {
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.book-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.book-card-text {
  font-size: 1rem;
  color: #555;
}

.admin-card-buttons {
  display: flex;
  justify-content: space-evenly; /* Space buttons evenly with reduced spacing */
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  gap: 0.5rem;
}

.book-card-button {
  width: 40%;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  padding: 0.5rem;
  min-width: 70px;
}
/* Book Card */

/* Book Page */
.book-card-wrapper {
  height: 1000px;
  margin: 1rem 5rem 5rem 5rem;
}

.book-card-page {
  height: 100%;
  background: var(--secondary-color) !important;
}

.book-page-img {
  width: 100%;
  height: 750px;
  border-radius: 25px;
}

.buy-now {
  width: 200px;
  margin: 1rem 0.5rem 1rem 2rem;
  border-radius: 50px !important;
  border: 0 !important;
  background-color: var(--main-color) !important;
  color: white !important;
}

.buy-now:hover {
  background-color: var(--main-color-darker) !important;
  transition: 0.5s;
}

.add-to-cart {
  width: 200px;
  margin: 1rem 0.5rem 1rem 2rem;
  border-radius: 50px !important;
  border: 0 !important;
  background-color: var(--main-color) !important;
  color: white !important;
}

.add-to-cart:hover {
  background-color: var(--main-color-darker) !important;
  transition: 0.5s;
}
/* Book Page */

/* Cart */
.book-link {
  color: black;
  text-decoration: none;
}

.book-link:hover {
  text-decoration: underline;
}

.book-cart-wrapper {
  height: 250px;
  margin-bottom: 1rem;
}

.book-card-cart {
  height: 100%;
  background: var(--secondary-color) !important;
}

.book-cart-img {
  max-height: 150px;
  border-radius: 25px;
}

.cart-description-box {
  height: 50px;
}

.cart-buy-now-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cart-buy-now {
  margin: 1rem 0.5rem 1rem 2rem;
  width: 750px;
  border-radius: 50px !important;
  border: 0 !important;
  background-color: var(--main-color) !important;
  color: white !important;
}

.cart-buy-now:hover {
  background-color: var(--main-color-darker) !important;
  transition: 0.5s;
}

.cart-trash-can {
  margin: 1rem 0rem 1rem 0rem;
  border: 0 !important;
  border-radius: 50px !important;
  background-color: transparent !important;
  color: red !important;
}

.cart-trash-can:hover {
  color: darkred !important;
  transition: 0.5s;
}
/* Cart */

/* Filter */
.filtersSection {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filtersTitle {
  color: #1b4a3d;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.rangeSlider {
  width: 100%;
  appearance: none;
  height: 9px;
  background-color: #225f49;
  border-radius: 5px;
  outline: none;
}

.inputField {
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

.selectField {
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f9fa;
}
/* Filter */

/* visualize borders
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link,
.navbar .search-wrapper,
.navbar .search-input,
.landing-content,
.landing-content h1,
.landing-content h2 {
  border: solid black;
}
*/
