.sellerListingsContainer {
  padding: 1rem;
}

.profileSection {
  padding: 1.5rem;
  border-radius: 8px;
}

.profileWrapper {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 320px;
  height: 380px; /* Rectangular profile image */
  object-fit: cover;
  border-radius: 8px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listingsSection {
  padding: 1rem;
}

.scrollableSection {
  max-height: 80vh; /* Adjust as needed */
  overflow-y: auto;
  padding-right: 0.5rem; /* Add padding for scrollbar space */
}

.bookCard {
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures spacing between the content and buttons */
  text-align: center; /* Centers text horizontally */
  background-color: #c8e6c9;
}

.bookCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.fixedImage {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
