.accountPage {
  height: 100vh;
  display: flex;
}

.leftContent,
.rightContent {
  padding: 20px;
}

.divider {
  background-color: black;
  width: 1px;
  height: 100%;
}

.profile {
  text-align: center;
}

.profilePhoto {
  margin-bottom: 20px;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}
